.footer {
	background-color: #E9E8E8;
	padding-top: rem(30);
	padding-bottom: rem(30);
	font-size: rem(18);

	&__soc {
		display: flex;
		justify-content: flex-end;
		a{
			position: relative;
			color: $body-color;
			width: rem(25);
			height: rem(25);
			border: 1px solid $body-color;
			border-radius: 50%;
			opacity: .7;
			margin-left: rem(5);
			padding: rem(4);
			display: flex;
			align-items: center;
			justify-content: center;
			&:hover {
				text-decoration: none;
			}
		}
		.icon {

			font-size: rem(15);
		}
		margin-bottom: rem(20);
	}
	&__site-map {
		font-size: rem(15);
		color: #949393;
	}
	.d-non {
		display: none;
		@include media-breakpoint-up(md) {
			display: block;
		}
	}
	.sm-block {
		ul {
			li {
				list-style: none;
				margin-bottom: rem(20);
				&:nth-child(n+2) {
					margin-bottom: rem(10);
					font-size: 1rem;
				}
			}
			.number {
				a{
					color: $body-color;
				}
			}
		}
		a {
			color: #949393;
			text-decoration: none;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.border-top{
		margin-top: rem(20);
		border-top: 1px #B7B7B7 solid;
	}
	.dev {
		padding-top: rem(20);
		font-size: rem(15);
		a{
			text-decoration: underline;
		}
	}
// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}


// 
@include media-breakpoint-between(md, xl) {}


// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}


// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {
	.d-non {
		display: none;
	}
}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}
}
