
mixin modal() 
 
	.ofs(style='position: fixed; left: 0px; top: 0px; width: 1px; height: 1px;')
	#sent.cbx(style='display: none;')
		.c_box_container
			.c_box
				._capt Спасибо!
				|                     Ваше сообщение отправлено
				br
				| и будет обработано в ближайшее время.
				br
				a._cb_btn._cb_close(href='#') Ok
	#_order.cbx(style='display: none;')
		.c_box_container
			.c_box
				._capt Заказ обратного звонка
				.ordering
				input#as_name.mb_input(type='text', placeholder='ФИО')
				br
				input#as_name.mb_input(type='text', placeholder='Телефон')
				br
				input#as_name.mb_input(type='text', placeholder='Email')
				br
				a._cb_btn._cb_send(href='#') Отправить
				a._cb_btn._cb_close(href='#', style='opacity: 0.5;') Отмена
	#_login.cbx(style='display:none;')
		.c_box_container
			.c_box
				._capt Вход в персональный кабинет
				#wrong(style='color: red; padding-bottom: 20px; display: none;') Неверно введен логин или пароль!
				input#as_login.mb_input(type='text', placeholder='email')
				br
				input#as_pass.mb_input(type='password', placeholder='пароль')
				br
				div
					| Нет учетной записи? 
					a(href='/registration') Зарегистрируйтесь!
				a#_lgn._cb_btn(href='#') Вход
				a._cb_btn._cb_close(href='#', style='opacity: 0.5;') Отмена
