mixin s-delivery()
	// start s-delivery
	+b.s-delivery#s-delivery&attributes(attributes)
		.container
			+e.content
				<p>Данная информация касается тех случаев, когда купленный товар в нашем магазине по какой-либо причине не подошёл покупателю. Мы понимаем, что подобные ситуации связаны со стрессом и желанием скорейшего решения этой проблемы. Именно поэтому мы готовы всегда идти на встречу нашим клиентам!)</p>
				<p>Если доставленный товар вам не подошел, не понравился или имеет заводской брак, вы можете вернуть его в течение 14 дней после получения заказа. Мы перечислим вам деньги в минимально короткие сроки после получения посылки. Обращаем ваше внимание на то, что посылки, отправленные наложенным платежом, мы не получаем - в этом случае посылки возвращаются отправителю. Возврат средств возможен на карту ПриватБанка.</p>
				<p>Для оформления возврата отправьте письмо на&nbsp;<a href="mailto:______________@gmail.com" class="e-mail"><strong>___________@gmail.com</strong></a>&nbsp;, указав причину возврата и свои контактные данные (ФИО, номер телефона, номер карты для возврата денег). Мы решим вашу проблему в максимально короткие сроки!</p>
				<p>Мы дарим бесплатную доставку при покупках&nbsp;<strong>от 2000</strong>&nbsp;грн. Если же сумма покупки составит&nbsp;<strong>менее 2000</strong>&nbsp;грн - доставку оплачивает покупатель согласно тарифам транспортной компании. Если же Вы получили товар ненадлежащего качества (заводской брак, дефект и т.д.) - обратную доставку оплачиваем мы. В остальных случаях <strong>обратную доставку оплачивает покупатель.&nbsp;</strong></p>
				<p><br><strong>Обмен и возврат товара производится согласно действующему законодательству Украины</strong><br><br><span>Порядок действий при возврате или обмене товара:</span><br><span>- убедиться, что с момента покупки прошло не более 14 дней</span><br><span>- связаться с нами по телефону либо в магазине</span><br><span>- сообщить о необходимости возврата или обмена</span><br><span>- сообщить причину возврата или обмена</span><br><span>- иметь при себе паспорт и товарный чек</span><br><span>- написать заявление на возврат или обмен</span><br><br><strong>Обмен и возврат товара производится в соответствии с "Законом о защите прав потребителей"</strong><br><br><span>Обмену и возврату <strong><em>не подлежат</em></strong> электронные сигареты, которые:</span><br><span>- <em><strong>были в эксплуатации</strong></em>, и как следствие, не могут быть использованы другим лицом по причине соблюдения санитарно-гигиенических норм (согласно Постановлению Кабинета Министров Украины от 19 марта 1994 года, номер 172)</span><br><span>- <em><strong>не имеют оригинальной упаковки и полной комплектации товара</strong></em></span><br><span>- имеют <em><strong>сколы, царапины</strong></em> и какие-либо <em><strong>физические повреждения</strong></em></span><br><span>- если присутствуют <em><strong>признаки изменения конструкции</strong></em> товара</span><br><span>- если присутствуют <em><strong>признаки вмешательства во внутреннее устройство</strong></em> товара</span><br><span>- не были соблюдены правила хранения и транспортировки товара</span><br><br><span>Обмену и возврату не подлежат наполнители, жидкости для эл. сигарет которые:</span><br><span>- <em><strong>Были открыты</strong></em> и тем самым нарушили целостность упаковки ( согласно Постановлению Кабинета Министров Украины от 19 марта 1994 года, номер 172)</span><br><span>- не имеют оригинальной упаковки&nbsp;</span><br><span>- не были соблюдены правила хранения и транспортировки товара</span><br><br><span>Обмену и возврату не подлежат аксессуары для эл. сигарет которые:</span><br><span>- <em><strong>были в эксплуатации</strong></em>, и как следствие, не могут быть использованы другим лицом по причине <em><strong>соблюдения санитарно-гигиенических норм</strong></em> (согласно Постановлению Кабинета Министров Украины от 19 марта 1994 года, номер 172)</span><br><span>- <em><strong>не имеют оригинальной упаковки</strong></em> и полной комплектации товара</span><br><span>- <em><strong>имеют сколы, царапины</strong></em> и какие-либо <em><strong>физические повреждения</strong></em></span><br><span>- если присутствуют признаки <em><strong>изменения конструкции товара</strong></em></span><br><span>- если присутствуют признаки <em><strong>вмешательства во внутреннее устройство товара</strong></em></span><br><span>- не были соблюдены правила хранения и транспортировки товара</span><br><br><span>В соответствии с п.15 ст 3 Закона про РРО, предприниматели 2 группы налогообложения на едином налоге, выдают расчетный <em><strong>товарный документ по требованию покупателя</strong></em>.</span></p>
				<p>&nbsp;</p>
				<hr>
				<p>&nbsp;</p>
				<p><strong>Условия обмена/возврата товара надлежащего качества</strong> (<em>Статья 9. Согласно Закона Украины «О защите прав потребителей»)</em><strong>:</strong></p>
				<p>Потребитель имеет право обменять непродовольственный товар надлежащего качества на аналогичный у продавца, у которого он был приобретён, если товар не удовлетворил его по форме, габаритам, фасону, цвету, размеру или по другим причинам не может быть им использован по назначению. Потребитель имеет право на обмен товара надлежащего качества в течение четырнадцати дней, не считая дня покупки.</p>
				<p>Обмен товара надлежащего качества производится:</p>
				<ul class="ws-green">
				<li>если он не использовался;</li>
				<li>если сохранён его товарный вид;</li>
				<li>потребительские свойства, пломбы, ярлыки;</li>
				<li>расчетный документ (чек), выданный потребителю вместе с проданным товаром.</li>
				</ul>
				<div>
				<p><strong>Условия обмена/возврата товара ненадлежащего качества&nbsp;</strong>(<em>Статья 8. Согласно Закона Украины «О защите прав потребителей»</em>)<strong>:</strong></p>
				<p>В случае выявления на протяжении установленного гарантийного срока недостатков потребитель, в порядке и в сроки, установленные законодательством, имеет право требовать:</p>
				<ul class="ws-green">
				<li>пропорционального уменьшения цены;</li>
				<li>безвозмездного устранения недостатков товара в разумный срок;</li>
				<li>возмещения расходов на устранение недостатков товара.</li>
				</ul>
				<p>Требования потребителя, предусмотренные настоящей статьей, не подлежат удовлетворению, если продавец, производитель (предприятие, которое удовлетворяет требования потребителя, установленные частью первой этой статьи) докажут, что недостатки товара возникли вследствие нарушения потребителем правил пользования товаром или его хранения. Потребитель вправе участвовать в проверке качества товара лично или через своего представителя.</p>
				</div>
				<p>Для оформления возврата отправьте письмо на&nbsp;<a href="mailto:______________@gmail.com" class="e-mail"><strong>______________@gmail.com</strong>&nbsp;,</a> указав причину возврата и свои контактные данные (ФИО, номер телефона). Мы решим вашу проблему в максимально короткие сроки!</p>



	// end s-delivery

mixin s-blank-pages()
	// start s-delivery
	+b.s-delivery#s-delivery&attributes(attributes)
		.container
			+e.content
			