extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-main-filter/_s-main-filter.pug
include ../blocks/s-catalog/_s-catalog.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/s-reviews/_s-reviews.pug
include ../blocks/s-card-product/_s-card-product.pug

block variables
	- let  mainPage= 'inner-page'
block title
	- let  title= 'Hankook AH35 215/75R17,5'
	title= title
block pagecontent 
	//- +mob-mnu()
	+header()
		+top-line()
		+top-nav()
	.container
		+breadcrumb("Главная", "Грузовые шины", title)
	+s-card-product
	+s-reviews
	+s-catalog()
		+title('Смотрите также')
	+footer()