mixin s-main-filter()
	// start s-main-filter
	+b.SECTION.s-main-filter.section#s-main-filter&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 s-main-filter
				
			.row
	// end s-main-filter