mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.toggle-menu-mobile--js.d-lg-none
		span
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
		
			+mnu()
			.text-right
	//  мобильное меню
mixin top-nav() 
	.menu_holder
		.mainmenu
			a(href='#') Каталог
			a(href='#') Главная
			a(href='/o_magazine') О магазине
			a(href='/dostavka_mn') Доставка
			a(href='/novosti') Новости
			a(href='/garantii') Гарантии
			a(href='/shinniy_servis') Шинный сервис
		.mob_menu(style='display: none;')
			a.swbtn(href='#')
			a.bsbtn(href='/cart')
		.ddn_menu.mddn
			ul#menu
				li
					div Шины
					ul
						li
							#gruzovie_shini Грузовые шины
						li
							#legkovie_shini Легковые шины
						li
							#specshini Спецшины
				li
					#diski Диски
				li
					#kameri Камеры
				li
					#akkumulyatori Аккумуляторы
