.forms {
	display: block;


	// 
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {
		margin-top: 30px;
		display: flex;

		.lform,
		.rform {
			padding-top: 0;
			margin-bottom: 30px;
		}

		.mob_cpt {
			margin-top: 0;
		}
	}

	@include media-breakpoint-down(md) {
		display: block;

		.lform,
		.rform {
			width: 100%;
		}
	}

	.flt_button {
		min-width: 150px;
	}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}