mixin header-block()
	//- // start header-block
	//- +b.header-block#header-block
	//- 	.container
	//- 		h1 header-block
	//- 		.row
	//- // end header-block
	.midsect
		.ls
		.rs
			img(src='images/banner.jpg')

	.forms
		.lform
			.mob_cpt(style='display: none') Подбор шин
			.lf_cap.lf_cap2
			.tablinks
				a#tb2.active(href='#', rel='2') Грузовые шины
				a#tb1(href='#', rel='1') Легковые шины
				a#tb3(href='#', rel='3') Спецшины
				a#tb4(href='#', rel='4') Камеры
			#tab2.tabset.tbss
				.cb1
					fieldset
						label(for='t_width') Ширина
						select#t_country(name='t_width')
							option(selected='selected', value='') ---
							option(value='6.5') 6.5
							option(value='7%2C50') 7,50
							option(value='7') 7
							option(value='7.5') 7.5
							option(value='8.25') 8.25
							option(value='8.5') 8.5
							option(value='9') 9
							option(value='9.5') 9.5
							option(value='10') 10
							option(value='11') 11
							option(value='12') 12
							option(value='13') 13
							option(value='14') 14
							option(value='205') 205
							option(value='215') 215
							option(value='225') 225
							option(value='235') 235
							option(value='245') 245
							option(value='255') 255
							option(value='265') 265
							option(value='275') 275
							option(value='285') 285
							option(value='295') 295
							option(value='305') 305
							option(value='315') 315
							option(value='355') 355
							option(value='385') 385
							option(value='425') 425
							option(value='435') 435
							option(value='445') 445
				.cb2
					fieldset
						label(for='t_diameter') Профиль
						select#t_ltp(name='t_diameter')
							option(selected='selected', value='') ---
							option(value='0') 0
							option(value='45') 45
							option(value='50') 50
							option(value='55') 55
							option(value='60') 60
							option(value='65') 65
							option(value='70') 70
							option(value='75') 75
							option(value='80') 80
				.cb3
					fieldset
						label(for='t_et') Диаметр
						select#t_class(name='t_et')
							option(selected='selected', value='') ---
							option(value='R24') R24
							option(value='R17%2C5') R17,5
							option(value='R15') R15
							option(value='R20') R20
							option(value='R17.5') R17.5
							option(value='R22%2C5') R22,5
							option(value='R19%2C5') R19,5
							option(value='R16') R16
							option(value='24%2C5') 24,5
				.cb4
					fieldset
						label(for='t_vendor') Тип оси
						select#t_ost(name='t_vendor')
							option(selected='selected', value='') ---
							option(value='%CF%F0%E8%E2%EE%E4%ED%E0%FF') Приводная
							option(value='%CF%F0%E8%F6%E5%EF%ED%E0%FF') Прицепная
							option(value='%E2%E5%E4%F3%F9%E0%FF') ведущая
							option(value='%D0%F3%EB%E5%E2%E0%FF') Рулевая
							option(value='%D3%ED%E8%E2%E5%F0%F1%E0%EB%FC%ED%E0%FF') Универсальная
				.cb5
					fieldset
						label(for='t_et') Назначение
						select#t_dst(name='t_et')
							option(selected='selected', value='') ---
							option(value='%D3%ED%E8%E2%E5%F0%F1%E0%EB%FC%ED%E0%FF%2C+%E0%E2%F2%EE%E1%F3%F1%ED%E0%FF') Универсальная, автобусная
							option(value='%D3%ED%E8%E2%E5%F0%F1%E0%EB%FC%ED%E0%FF') Универсальная
							option(value='%CC%E0%E3%E8%F1%F2%F0%E0%EB%FC%ED%FB%E5+%EF%E5%F0%E5%E2%EE%E7%EA%E8') Магистральные перевозки
							option(value='%E2%ED%E5%E4%EE%F0%EE%E6%ED%EE%E5') внедорожное
							option(value='%D1%EC%E5%F8%E0%ED%ED%EE%E5') Смешанное
							option(value='%C4%E0%EB%FC%ED%E5%F0%E5%E9%F1%EE%E2%FB%E5+%EF%E5%F0%E5%E2%EE%E7%EA%E8+') Дальнерейсовые перевозки 
							option(value='%D0%E5%E3%E8%EE%ED%E0%EB%FC%ED%E0%FF') Региональная
							option(value='%C0%E2%F2%EE%E1%F3%F1%ED%EE%E5') Автобусное
							option(value='%F0%E5%E3%E8%EE%ED%E0%EB%FC%ED%EE%E5') региональное
				.cb6
					fieldset
						label(for='t_vendor') Бренд
						select#t_vendor(name='t_vendor')
							option(selected='selected', value='') ---
							option(value='Aufine') Aufine
							option(value='Jinyu') Jinyu
							option(value='Debi%F1a') Debiсa
							option(value='Goodyear') Goodyear
							option(value='Compasal') Compasal
							option(value='%CD%EA%D8%C7') НкШЗ
							option(value='Hifly') Hifly
							option(value='Changfeng') Changfeng
							option(value='Fulda') Fulda
							option(value='Roadshine') Roadshine
							option(value='Safecess') Safecess
							option(value='APLUS') APLUS
							option(value='Kelly') Kelly
							option(value='Hankook') Hankook
							option(value='YellowSea') YellowSea
							option(value='LingLong') LingLong
							option(value='%28Hankook') (Hankook
							option(value='Ovation') Ovation
							option(value='TRANSKING') TRANSKING
							option(value='Sava') Sava
							option(value='SYRON') SYRON
							option(value='Firemax') Firemax
							option(value='Dunlop') Dunlop
							option(value='Kpatos') Kpatos
				a.flt_button(href='#', rel='2') Подобрать
			#tab1.tabset.tbss(style='display: none;')
				.cb1
					fieldset
						label(for='t_width') Ширина
						select#t_country(name='t_width')
							option(selected='selected', value='') ---
							option(value='155') 155
							option(value='165') 165
							option(value='175') 175
				.cb2
					fieldset
						label(for='t_diameter') Профиль
						select#t_ltp(name='t_diameter')
							option(selected='selected', value='') ---
							option(value='65') 65
							option(value='70') 70
				.cb3
					fieldset
						label(for='t_et') Диаметр
						select#t_class(name='t_et')
							option(selected='selected', value='') ---
							option(value='R14') R14
							option(value='R13') R13
				.cb4
					fieldset
						label(for='t_vendor') Сезон
						select#t_cover(name='t_vendor')
							option(selected='selected', value='') ---
							option(value='%EB%E5%F2%EE') лето
							option(value='%C7%E8%EC%E0') Зима
				.cb5
					fieldset
						label(for='t_et') Шип
						select#t_for(name='t_et')
							option(selected='selected', value='') ---
							option(value='%CD%E5+%F8%E8%EF%EE%E2%E0%ED%ED%E0%FF') Не шипованная
							option(value='%ED%E5%F8%E8%EF%EE%E2%E0%ED%ED%E0%FF') нешипованная
				.cb6
					fieldset
						label(for='t_vendor') Бренд
						select#t_vendor(name='t_vendor')
							option(selected='selected', value='') ---
							option(value='Nexen') Nexen
							option(value='%D3%EA%F0%E0%E8%ED%E0') Украина
							option(value='Toyo') Toyo
				a.flt_button(href='#', rel='1') Подобрать
			#tab3.tabset.tbss(style='display: none;')
				.cbx41
					fieldset
						label(for='t_width') Ширина
						select#t_country(name='t_width')
							option(selected='selected', value='') ---
							option(value='75') 75
				.cbx42
					fieldset
						label(for='t_diameter') Профиль
						select#t_ltp(name='t_diameter')
							option(selected='selected', value='') ---
							option(value='10%2C0') 10,0
				.cbx43
					fieldset
						label(for='t_et') Диаметр
						select#t_class(name='t_et')
							option(selected='selected', value='') ---
							option(value='15%2C3') 15,3
				.cbx44
					fieldset
						label(for='t_vendor') Бренд
						select#t_vendor(name='t_vendor')
							option(selected='selected', value='') ---
							option(value='%D7%E5%F5%E8%FF') Чехия
				a.flt_button(href='#', rel='3') Подобрать
			#tab4.tabset.tbss(style='display: none;')
				.cbx41
					fieldset
						label(for='t_width') Ширина
						select#t_country(name='t_width')
							option(selected='selected', value='') ---
							option(value='11%2C2%2F12%2C4%2F13%2C6') 11,2/12,4/13,6
				.cbx42
					fieldset
						label(for='t_diameter') Профиль
						select#t_ltp(name='t_diameter')
							option(selected='selected', value='') ---
							option(value='p') p
				.cbx43
					fieldset
						label(for='t_et') Диаметр
						select#t_class(name='t_et')
							option(selected='selected', value='') ---
							option(value='36') 36
				.cbx44
					fieldset
						label(for='t_vendor') Бренд
						select#t_vendor(name='t_vendor')
							option(selected='selected', value='') ---
							option(value='%CF%EE%EB%FC%F8%E0') Польша
				a.flt_button(href='#', rel='4') Подобрать
		.rform
			.mob_cpt(style='display: none') Подбор дисков
			.rf_cap
			.tabset
				.cb1
					fieldset
						label(for='t_width') Ширина
						select#t_country(name='t_width')
							option(selected='selected', value='') ---
							option(value='4%2C5J') 4,5J
							option(value='6') 6
							option(value='6%2C75') 6,75
							option(value='7%2C5') 7,5
							option(value='8%2C25') 8,25
							option(value='9') 9
							option(value='11%2C75') 11,75
				.cb2
					fieldset
						label(for='t_diameter') Диаметр
						select#t_class(name='t_diameter')
							option(selected='selected', value='') ---
							option(value='R22%2C5') R22,5
							option(value='R19%2C5') R19,5
							option(value='R17%2C5') R17,5
							option(value='13') 13
				.cb3
					fieldset
						label(for='t_et') Вылет
						select#t_eta(name='t_et')
							option(selected='selected', value='') ---
							option(value='0') 0
							option(value='2') 2
							option(value='115') 115
							option(value='116') 116
							option(value='120') 120
							option(value='121%2C5') 121,5
							option(value='125') 125
							option(value='127%2C5') 127,5
							option(value='127') 127
							option(value='128') 128
							option(value='128%2C5') 128,5
							option(value='132') 132
							option(value='132%2C5') 132,5
							option(value='135') 135
							option(value='135.5') 135.5
							option(value='142') 142
							option(value='143') 143
							option(value='146%2C5') 146,5
							option(value='150') 150
							option(value='152') 152
							option(value='155') 155
							option(value='161') 161
							option(value='165') 165
							option(value='175') 175
							option(value='176') 176
							option(value='177%2C5') 177,5
				.cb4
					fieldset
						label(for='t_vendor') Бренд
						select#t_vendor(name='t_vendor')
							option(selected='selected', value='') ---
							option(value='%C4%EE%F0%EE%E6%ED%E0%FF+%EA%E0%F0%F2%E0') Дорожная карта
							option(value='Hayes+Lemmerz') Hayes Lemmerz
							option(value='%CA%E8%F2%E0%E9') Китай
							option(value='Jantsa') Jantsa
							option(value='%CA%F0%CA%C7') КрКЗ
				a.flt_button(href='#', rel='5') Подобрать
